/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;display:block;}*{margin:0;padding:0;}html{display:block;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{background:transparent;}table{border-collapse:collapse;border-spacing:0;}*,*:before, *:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}ins{background:#fff;}
/* Body Layout */
body#layout ul,#layout ul {display:none;}
body#layout #outer-wrapper, body#layout .post-inner, body#layout .sidebar, body#layout .sidebartop {padding:0;}
body#layout #wrapper, body#layout .post-inner, body#layout .sidebar-inner {padding:0;}
body#layout .header-wrapper {margin-top:0;}
body#layout #header {min-height:0px;width:100%;}
body#layout #headerdua {width:30%;float:left;}
body#layout .sosial-atas li{display:none}
#layout,#layout .widget-content,#layout .add_widget {border:none;}
body#layout .add_widget {border:1px solid #ddd;}
#layout .add_widget a {color:#111;}
#layout #header{min-height:0px;width:100%;margin:10px 0 0 0;}
#layout #footer-wrapper .footer-column{width:33.33%;float:left}
#layout #main-wrapper{width:70%;float:left}
#layout #sidebar-wrapper{width:30%;left:0;padding:0;float:right}
#layout .draggable-widget .widget-wrap2 {background:#c1cfd9;}
#layout #banner,#layout #banner2 {background-color:#444;padding:20px 0!important;margin-bottom:20px;}
#layout #banner .widget,#layout #banner2 .widget{width:80%;margin:5px auto!important;overflow:hidden;float:none}
#layout #banner .add_widget,#layout #banner2 .add_widget{width:80%;margin:5px auto!important;overflow:hidden;float:none}
#footer-xwidget .footer-widget {width:31.7%;float:left;margin-left:10px;}
#footer-wrapper {overflow:hidden;margin:0 auto 20px auto;padding:20px 0 0;}
#layout #footer-wrapper #column1,#layout #footer-wrapper #column2{margin:0}
/* Layout */
body {background:rgb(240, 9, 9)255, 0, 0);font-family:'arial',sans-serif;font-size:13px;font-weight:400;text-align:left;color:#444;margin:0;padding:0;}
.navbar,.post-feeds,.feed-links{display:none;}.section,.widget{margin:0;padding:0;}strong,b{font-weight:bold;padding:0;}cite,em,i{font-style:italic;}a:link,a:visited {color:#138be6;text-decoration:none;transition:all .3s}a:hover,a:hover:visited {color:#000}a img{border:none;border-width:0;outline:none;}img{max-width:100%;vertical-align:middle;border:0;}abbr,acronym{border-bottom:1px dotted;cursor:help;}sup,sub{vertical-align:baseline;position:relative;top:-.4em;font-size:86%;}sub{top:.4em;}small{font-size:86%;}kbd{display:inline-block;font-size:90%;color:#138be6;}mark{background-color:#ffce00;color:#182025;}p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:1.5em 0;}hr{height:1px;border:none;background-color:#999;}code,kbd,pre,samp{font-family:monospace,monospace;}
pre{white-space:pre;word-wrap:normal;overflow:auto;font-size:13px;margin:0;}*:focus {outline:0!important;}h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal;}h1{font-size:200%}h2{font-size:180%}h3{font-size:160%}h4{font-size:140%}h5{font-size:120%}h6{font-size:100%}

.post-body blockquote{
background: #6591c2;
position: relative;
padding: 20px 20px 20px 20px;
color: #fff;
margin: 10px 0;
border-radius: 5px;
font-family:arial;
}
/*position:relative;
margin:0 auto;
padding:24px 20px 24px 45px;
line-height:24px;
text-shadow:0 1px 1px white;
background-color:#f2f6c1;
background-image:-webkit-radial-gradient(center,cover,rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 90%),-webkit-repeating-linear-gradient(top,transparent 0%,transparent 24px,rgba(239,207,173,0.7) 24px,rgba(239,207,173,0.7) 25px);
border:1px solid rgba(0,0,0,0.1);
*/

.post-body blockquote:before,.post-body blockquote:after{
content:'';
position:absolute;
top:0;
bottom:0;
}

/*
.post-body blockquote:before{
left:20px;
position: absolute;
content: '\f10d';
left: 10px;
top: 5px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-size: 160%;
color: rgba(255,255,255,.6);

border:4px solid rgba(239,207,173,0.7);
}*/

.post-body blockquote:after{
position: absolute;
content: '\f10e';
padding:10px;
right: 10px;
top: 5px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-size: 160%;
color: rgba(255,255,255,.6);
cursor:pointer;
}

/*z-index:-1;
left:0;
right:0;
background:rgba(242,246,193,0.9);
border:1px solid rgba(170,157,134,0.7);
transform:rotate(2deg)*/

.post-body h1{font-size:200%}.post-body h2{font-size:180%}.post-body h3{font-size:160%}.post-body h4{font-size:140%}.post-body h5{font-size:120%}.post-body h6{font-size:100%}
.post-body h1 b,.post-body h2 b,.post-body h3 b,.post-body h4 b,.post-body h5 b,.post-body h6 b{font-weight:700;}
input,button,select,textarea{font-size:100%;line-height:normal;vertical-align:baseline;}
textarea{display:block;box-sizing:border-box;}
input.placeholder_text,textarea.placeholder_text{color:#888}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input:-moz-placeholder,textarea:-moz-placeholder,input.placeholder_text,textarea.placeholder_text{color:#444}[placeholder]:focus::-webkit-input-placeholder{transition:opacity .5s .5s ease;opacity:0}
.post ul li span{position:relative;display:block;padding:0;margin:.5em 0 .5em 2em;text-decoration:none;}
ol {counter-reset:li;list-style:none;padding:0;margin:0;}
ol ol {margin: 0 0 0 2em;}
.post ol li{position:relative;display:block;padding:0;margin:.5em 0 .5em 2em;background:#fff;text-decoration:none;}
.post ol li:before {content:counter(li);counter-increment:li;position:absolute;left:-2.5em;height:2em;width:2em;text-align:center;}
.post-body ul {position:relative;display:block;padding:0;margin:.5em 0 .5em 1.5em;text-decoration:none;}

/* Post Table */
.post-body table {width:100%;}
.post-body table td,.post-body table caption{background:#fff;border:1px solid rgba(0,0,0,0.05);padding:10px;text-align:left;vertical-align:top}
.post-body table th{background:#7d81ff;color:#fff;border:1px solid rgba(0,0,0,0.05);border-bottom:0;padding:10px;text-align:left;vertical-align:top}
.post-body table.tr-caption-container {border:1px solid rgba(0,0,0,0.14);margin:0;}
.post-body th{font-weight:700;}
.post-body table caption{border:none;font-style:italic;}
.post-body td, .post-body th{vertical-align:top;text-align:left;font-size:13px;padding:3px 5px;border:1px solid #97b28e;}
.post-body th{}
.post-body th:hover{color:#fff;}
.post-body td a{color:#138be6;}
.post-body td a:hover{color:#000;}
.post-body table.tr-caption-container td{border:0;padding:8px;background:#fff;line-height:17px;overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-weight:700;color:#000;}
.post-body table.tr-caption-container, .post-body table.tr-caption-container img, .post-body img {max-width:100%;height:auto;}
.post-body li {list-style-type:square;}
.post-body td.tr-caption {color:#666;font-size:80%;padding:0px 8px 8px!important;}
.sr {visibility:hidden;width:0;height:0;}
.clear{clear:both}
html {-webkit-font-smoothing:antialiased;}
::selection {background:#ff5722;text-shadow:none;}
.post-body ::selection {background:#ff5722;color:#000;}

/*tombol share*/
	.share_button{position:relative;z-index:2;width:100%;padding:20px;display:inline-block;margin:0 auto;}
	.share_button .share_blog {display:block;}
	.share_button .share_blog .wrap {text-align:center;margin:0 auto;display:inline-block;min-width:41px;}
	.share_button .share_blog .wrap1 {display:inline-block;width:31px;float:left;}
	.share_button .share_blog ul {margin:0;padding:0 8px;}
	.share_button .share_blog ul li{list-style:none;list-style-type:none;padding:0;margin:2px;float:left;width:20%;max-width:115px;display:inline-block;font-size:13px;overflow:hidden;text-align:left;height:32px;line-height:32px;color:#fff;border-radius:3px;transition:all .4s}
	.share_button .share_blog ul li a,.share_button .share_blog ul li a:hover{color:#fff;cursor:pointer;line-height:32px;height:100%;display:block;text-decoration:none}
	.share_button .share_blog ul li .fa{color:#fff;font-size:16px;font-weight:normal;font-family:FontAwesome;display:inline-block;text-align:center;padding:0;height:32px;line-height:inherit;width:30px;background-color:rgba(0,0,0,.05)}
	.share_button .share_blog .btn_fb{background:#3a579a}.share_button .share_blog .btn_fb:hover{background:#314a83}.share_button .share_blog .btn_twtr{background:#00abf0}.share_button .share_blog .btn_twtr:hover{background:#0092cc}.share_button .share_blog .btn_gplus{background:#df4a32}.share_button .share_blog .btn_gplus:hover{background:#be3f2b}.share_button .share_blog .btn_pntrst{background:#cd1c1f}.share_button .share_blog .btn_pntrst:hover{background:#ae181a}.share_button .share_blog .btn_linkdin{background:#2554BF}.share_button .share_blog .btn_linkdin:hover{background:#224EB4}
	.share_button .share_blog .share.h6{font-size:10px;font-weight:700;text-align:center;color:#999;border-top:1px solid #e3e3e3;padding:8px 0 0;margin:8px auto 0;line-height:8px;width:42px;letter-spacing:.5px}
	.share_button .share_blog .share{margin:5px 5px 0 0;overflow:visible;width:95px}
	.share_button .share_blog .share .count.h4{font-size:22px;font-weight:700;text-align:center;color:#ff8349;line-height:16px;margin:-8px 0 0;min-height:15px}
	.share_button .share_blog .btn_fb .share-btn,.share_button .share_blog .btn_twtr .share-btn,.share_button .share_blog .btn_gplus .share-btn,.share_button .share_blog .btn_pntrst .share-btn,.share_button .share_blog .btn_linkdin .share-btn{position:relative;color:#fff;display:inline-block;text-align:center;font-weight:700;font-size:11px;float:right;min-width:12px;padding:0 8px 0 0}
	
	@media only screen and (max-width: 979px) {
		.share_button .share_blog .btn_linkdin {width:32px;text-align:center;}
		.share_button .share_blog .btn_fb .share-btn,.share_button .share_blog .btn_twtr .share-btn,.share_button .share_blog .btn_linkdin .share-btn,.share_button .share_blog .btn_gplus .share-btn,.share_button .share_blog .btn_pntrst .share-btn{display:none}
	}
	@media only screen and (max-width:768px) {
		.share_button .share_blog ul li a,.share_button .share_blog ul li a:hover{color:#fff;cursor:pointer;line-height:32px;font-size:11px;height:100%;display:block}.share_button .share_blog .wrap{min-width:34px}.share_button .share_blog .btn_linkdin,.share_button .share_blog .btn_pntrst{width:32px;text-align:center;}.share_button .share_blog ul li{margin:1px 3px}
	}
	@media only screen and (max-width:479px) {
		.share_button .share_blog .share{border:0;margin:0 5px 0 1px;overflow:visible;width:80px}.share_button .share_blog ul li{width:32px;margin:2px;text-align:center;}.share_button .share_blog .wrap{display:none}.share_button .share_blog ul li .fa{width:25px}
	}

	.menu_bawah {
	font:normal normal 12px Arial, sans-serif;
	margin:0 auto;
	height:auto;/*34px*/
	overflow:hidden;
	padding: 0px 0px 0;
	}
	.menubar_bawah {
	list-style-type:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
	}
	.menubar_bawah li {
	display:block;
	float:left;
	line-height:38px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	}
	.menubar_bawah li a {
	background: #363B40;
	color: #29ABE2;
	display: block;
	padding: 0 12px;
	}
	.menubar_bawah li a:hover {
	background:#29ABE2
	}

	::selection { background: #17AA8D; color: #fff; text-shadow: none; }

/*Contact Form CSS di sini*/
    #ContactForm1 {
	display: none;
    }

    #ContactForm1_contact-form-name, #ContactForm1_contact-form-email {
    width: 300px;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    background: #e6e6e6;
    color: #666;
    border: 1px dashed #ddd;
    transition: all 0.5s ease-in-out;
    }

    #ContactForm1_contact-form-email-message {
    width: 450px;
    height: 175px;
    margin: 10px auto 5px 0;
    padding: 10px;
    background: #e6e6e6;
    color: #666;
    font-family: 'Roboto',sans-serif;
    border: 1px dashed #ddd;
    transition: all 0.5s ease-in-out;
    }

    #ContactForm1_contact-form-name:focus, #ContactForm1_contact-form-email:focus, #ContactForm1_contact-form-email-message:focus {
    background: #fff;
    outline: none;
    border: 2px solid #e6e6e6;
    }

    #ContactForm1_contact-form-submit {
    font-family: 'Roboto';
    font-size: 15px;
    width: 101px;
    height: 35px;
    float: left;
    color: #fff;
    padding: 0;
    margin: 10px 0 3px 0;
    cursor: pointer;
    background: #aaa;
    border: none;
    border-radius: 2px;
    transition: background 0.4s linear;
    }

    #ContactForm1_contact-form-submit:hover {
    background: #363b40;
    }

    #ContactForm1_contact-form-error-message, #ContactForm1_contact-form-success-message {
    width: 450px;
    margin-top: 35px;
    }


/*Efek Page Loader*/
    /* Page Loader */
    .cssload-loader{position:absolute;bottom:0;left:0;right:0;margin:auto;z-index:1000}
    myloader [role="progressbar"][aria-busy="true"]{position:absolute;top:0;left:0;padding-bottom:3px;width:100%;background-color:#159756;-webkit-animation:preloader-background linear 3.5s infinite;animation:preloader-background linear 3.5s infinite}
    myloader [role="progressbar"][aria-busy="true"]::before,myloader [role="progressbar"][aria-busy="true"]::after{display:block;position:absolute;top:0;z-index:2;width:0;height:3px;background:#afa;-webkit-animation:preloader-front linear 3.5s infinite;animation:preloader-front linear 3.5s infinite;content:''}
    myloader [role="progressbar"][aria-busy="true"]::before{right:50%}
    myloader [role="progressbar"][aria-busy="true"]::after{left:50%}
    @-webkit-keyframes preloader-background{0%,24.9%{background-color:#159756}25%,49.9%{background-color:#da4733}50%,74.9%{background-color:#3b78e7}75%,100%{background-color:#fdba2c}}
    @keyframes preloader-background{0%,24.9%{background-color:#159756}25%,49.9%{background-color:#da4733}50%,74.9%{background-color:#3b78e7}75%,100%{background-color:#fdba2c}}
    @-webkit-keyframes preloader-front{0%{width:0;background-color:#da4733}24.9%{width:50%;background-color:#da4733}25%{width:0;background-color:#3b78e7}49.9%{width:50%;background-color:#3b78e7}50%{width:0;background-color:#fdba2c}74.9%{width:50%;background-color:#fdba2c}75%{width:0%;background-color:#159756}100%{width:50%;background-color:#159756}}
    @keyframes preloader-front{0%{width:0;background-color:#da4733}24.9%{width:50%;background-color:#da4733}25%{width:0;background-color:#3b78e7}49.9%{width:50%;background-color:#3b78e7}50%{width:0;background-color:#fdba2c}74.9%{width:50%;background-color:#fdba2c}75%{width:0%;background-color:#159756}100%{width:50%;background-color:#159756}}

/*anti copas (copy paste) 
.post blockquote {-webkit-touch-callout:text;-webkit-user-select:text;-khtml-user-select:text;-ms-user-select:text;-moz-user-select:text;}
.post {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-ms-user-select:none;-moz-user-select:none;}
*/


/* Custom Cookies Info Dark */
.cookie-choices-info{background-color:rgba(56,66,75,.97)!important;line-height:normal!important;top:initial!important;bottom:0!important;font-family:inherit!important;-webkit-transform:translateZ(0);}
.cookie-choices-info .cookie-choices-text{font-size:14px!important;color:#cee6ea!important}
.cookie-choices-info .cookie-choices-button{font-weight:normal!important;color:#fff!important;margin-left:5px!important;padding:3px 6px!important;background:#f64c3b!important;letter-spacing:.8px;transition:all .4s linear}
.cookie-choices-info .cookie-choices-button:nth-child(2){background:#f68c2e!important;transition:all .4s linear}
.cookie-choices-info .cookie-choices-button:hover,.cookie-choices-info .cookie-choices-button:nth-child(2):hover{background:#282f36!important;transition:all .1s linear}
/* Fixed Layout */
.CSS_LIGHTBOX {z-index:999999!important;}
.CSS_LIGHTBOX_BG_MASK_TRANSPARENT {opacity:.95!important;}
.CSS_LIGHTBOX_SCALED_IMAGE_IMG {width:auto!important;max-width:100%;box-shadow:0 0 10px rgba(0,0,0,0.1);}
.CSS_LIGHTBOX_BTN_CLOSE {background: url(&#39;https://4.bp.blogspot.com/-cmZSAe4hgWI/V0K-3C5xiHI/AAAAAAAAG90/2btatUgRsM4qf8HIc7QweuToTkRqRNeuACLcB/s1600/delete.png&#39;) no-repeat!important;width:32px!important;height:32px!important;top:30px!important;opacity:0.7;transition:all .3s;}
.CSS_LIGHTBOX_BTN_CLOSE:hover{opacity:1;}
.CSS_LIGHTBOX_BTN_CLOSE_POS {right:10px!important;}
.CSS_LIGHTBOX_BG_MASK{background-color:rgba(0,0,0,0.8)!important}
.CSS_LIGHTBOX_FILMSTRIP{background-color:rgba(0,0,0,0.5)!important}
.quickedit,#ContactForm1,#ContactForm1 br {display:none}
.post,.widget-content,.breadcrumbs,.banner .widget,.banner2 .widget,#blog-pager,#comments{}
.banner .widget-content,.banner2 .widget-content,#LinkList215 .widget-content{}
#BlogArchive1 li.archivedate {padding:0;}
#BlogArchive1 #ArchiveList ul.posts li {padding:0 0 0 22px;line-height:normal;}
#ArchiveList{padding:10px}
#ArchiveList select{width:100%;padding:10px;margin-bottom:5px;border:1px solid rgba(201,201,201,0.52);font-size:13px;font-family:&#39;Roboto&#39;,sans-serif}
/* Template Wrapper */
.maxiwrap {max-width:970px;margin:0 auto;}
#wrapper{background:#fff;display:block;position:relative;overflow:hidden;max-width:1024px;margin:0 auto;padding:0;border-left:1px solid rgba(0,0,0,0.1);border-right:1px solid rgba(0,0,0,0.1)}
/*#content-wrapper {display:block;position:relative;overflow:hidden;padding:0;margin:60px auto 0 auto;}*/
/* Top */
.search-boxs{display:none;width:230px;height:27px;float:right;padding:0;position:relative;transition:all .1s}
#search-forms,#searchform,.search-button{border:0;line-height:27px}
#searchform{position:relative;border:0;margin:9px 0 0 0}
#search-forms{background:rgba(0,0,0,.05);border-radius:3px;color:rgba(0,0,0,.5);width:100%;padding:0 30px 0 10px;height:27px;line-height:27px;font-size:13px;margin:0;border:1px solid rgba(0,0,0,0.05);transition:all .3s}
.search-button{background:none;width:30px;padding:0;text-align:center;margin:0;top:0;right:0;font-size:13px;color:#666;position:absolute;border-radius:0;text-shadow:none;box-shadow:none}
#search-forms:focus,#search-forms:hover,.search-button:focus,.search-button:hover{background:rgba(0,0,0,0);border-color:rgba(0,0,0,0.14);outline:0;color:rgba(0,0,0,.5)}
/* Header Wrapper */
#header{background:#363b40;display:block;margin:0 auto;padding:0;word-wrap:break-word;width:100%;position:fixed;z-index:99;height:60px;line-height:60px;-webkit-transform:translateZ(0);transform:translateZ(0)}
#header .title{
font-size:220%;
margin:14px 0 0 0;
padding:0;
display:inline-block;
width:100%;
font-weight:600;
}
#header .title a{color:#fff;}
#header .title a:hover {color:#5A5A5A;}
#header p.description{display:none;font-size:90%;margin:5px 0 0 0;line-height:normal;}
.header img {display:block;height:auto;}
#headerdua {float:left;margin:0 4% 0 0;}

/* Main Navigation */
#belajarcppx-two{
font-size:0;
padding:0;
margin:0 auto;
float:right;
}
#belajarcppx-two ul.menus{
height:auto;
overflow:hidden;
position:absolute;
z-index:99;
display:none
}
#belajarcppx-two a{
display:block;
text-transform:uppercase;
height:60px;
line-height:60px;
color:#fff;
font-size:13px;
overflow:hidden;
margin:0 1px 0 1px;
padding:0 15px 0 15px;
}
#belajarcppx-two ul &gt; li a i {color:rgba(255,255,255,.5)}
#belajarcppx-two ul{
margin:0 auto;
padding:0;
float:left;
}
#belajarcppx-two ul li{
position:relative;
margin:0;
list-style:none;
}
#belajarcppx-two ul &gt; li {float:left;}
#belajarcppx-two input {
display:none;
margin:0;
padding:0;
width:80px;
height:45px;
opacity:0;
cursor:pointer;
}
#belajarcppx-two label {
display:none;
width:55px;
height:48px;
line-height:48px;
text-align:center;
}
#belajarcppx-two label span{
font-size:16px;
position:absolute;
left:55px
}
#belajarcppx-two ul.menus li {
display:block;
width:100%;
text-transform:none;
text-shadow:none;
}
#belajarcppx-two ul.menus a {
color:#fff;
line-height:55px;
}
#belajarcppx-two li a:hover,#belajarcppx-two ul.menus a:hover {background:#282B2F;color:#fff;}
#belajarcppx-two li ul{
display:none;
background:#fff;
margin:0;height:auto;
position:absolute;
top:99%;
left:0;
z-index:12;
box-shadow:0 3px 10px 1px rgba(0,0,0,0.14);
}
#belajarcppx-two li:hover ul.menus,#belajarcppx-two li:hover &gt; ul{visibility:visible;opacity:1;}
#belajarcppx-two li li{
display:block;
float:none;
font-size:13px;
height:auto;
clear:both;margin-left:0;
line-height:36px;
border-bottom:1px solid rgba(0,0,0,0.05);
}
#belajarcppx-two li li:last-child {border:0;}
#belajarcppx-two li ul ul {left:100%;top:0}
#belajarcppx-two li li &gt; a{
background:#fff;
color:#666;
display:block;
margin:0;
text-decoration:none;
text-transform:none;
min-width:180px;
height:36px;
line-height:36px;
padding:0 13px;
font-size:11px;
border:0;
border-left:3px solid transparent;
margin-top:0
}
#belajarcppx-two li li a:hover{
background:#666;
color:#fff
}

/* search form */
#search-me{float:left;margin:0;padding:0;overflow:hidden;width:25%}
#search-me table{width:100%;margin:0;position:relative;height:36px}
#search-me td.search-boxs1{color:#cbd1e1!important}
#search-me input#search-boxs1[type=&quot;text&quot;]{background:#363b40;height:36px;line-height:35px;margin:0;padding:0 10px;width:100%;border:none;color:#cbd1e1!important;border-radius:100px;border-bottom: 1px solid #5a5a5a;}
#search-me input#search-button1[type=&quot;submit&quot;]{font-family:FontAwesome;font-size:17px;background:transparent;color:#fff;height:60px;line-height:60px;margin:0;padding:0 15px;border:none;outline:none;font-weight:normal!important;transition:all 0.25s;position:absolute;right:0;top:0;z-index:2;}
#search-me input#search-boxs1[type=&quot;text&quot;]:focus{background:#282B2F;outline:none;color:#cbd1e1;border-radius: 10px;}
/* Post Wrapper */
#main-wrapper{width:64.98%;float:left;margin:0;padding:0;word-wrap:break-word;border-right:1px solid rgba(0,0,0,0.1);}
.main .Blog{border-bottom-width:0}
.main .widget{margin:0;padding:0}
.date-header{display:none!important}
h1.post-title.entry-title,h2.post-title.entry-title {font-size:18px;margin:0 0 15px;}
h1.post-title.entry-title a,h2.post-title.entry-title a{color:#363b40;}
h1.post-title.entry-title a:hover,h2.post-title.entry-title a:hover{color:#138be6;}
.post{background:#fff;position:relative;margin:0;padding:0}
.post-body {margin:0;line-height:1.7em;text-align:left;font-size:15px;padding:20px;}
.post-info abbr {border:0;}
.post-timestamp,.author-info,.comment-info,.label-info{padding:0 10px 0 0}
.post-body img,.post-body video,.post-body object {background:#fafafa;max-width:100%}
.breadcrumbs{background:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:12px;padding:10px 20px;border-bottom:1px solid rgba(0,0,0,0.14);font-weight:700;}
.breadcrumbs {color:#777;}
.breadcrumbs a{color:#777;margin:0 2px;line-height:normal;}
.breadcrumbs .breadhome a{color:#363B40;margin:0 5px 0 0}
.breadcrumbs .breadlabel:last-child{margin:0 0 0 4px}
.breadcrumbs a:hover{color:#138be6;}
.post-footer{line-height:1.6em}
.post-footer a{color:#97b28e;}
.feed-links{clear:both;line-height:2.5em;}
/* Sidebar Wrapper */
#sidebar-wrapper{padding:20px;width:35%;float:right;word-wrap:break-word;overflow:hidden}
#sidebar-wrapper h2,#sidebar-wrapper h3,#sidebar-wrapper h4{position:relative;overflow:hidden;margin:0;font-size:1rem;vertical-align:middle;padding:0 0 10px 0;border-bottom:1px solid rgba(0,0,0,.1);}
#sidebar-wrapper h2 span,#sidebar-wrapper h3 span,#sidebar-wrapper h4 span{display:inline-block;vertical-align:middle}
#sidebar-wrapper h2:after,#sidebar-wrapper h3:after,#sidebar-wrapper h4:after{content:&#39;&#39;;display:inline-block;position:absolute;height:15px;top:0;margin:3px 0 12px 10px;width:100%;background:url(http://4.bp.blogspot.com/-R2WTW6O9E1o/VX7dqIGT1eI/AAAAAAAACc4/pyvQDMMLX3E/s1600/repeat-bg.png)repeat;opacity:.9;}
#sidebar-wrapper .widget ul{margin:0;padding:0}
.widget-content{margin:0;padding:10px 0;overflow:hidden}
.sidebar,.sidebartop {line-height:1.5em;padding:0}
.sidebar ul,.sidebartop ul {padding:0;margin:0}
.BlogArchive #ArchiveList ul li {text-indent:0!important}
.sidebar ul li,.sidebartop ul li{margin:0;padding:10px;border-bottom:1px solid rgba(0,0,0,0.1);}
.sidebar .widget{margin:0}
.sidebartop .widget{margin:0 0 20px 0}
/* Dropdown Label */
.droplabeldo select{outline:none;cursor:pointer;transition:all .6s ease-out}
.droplabeldo{display:inline-block;position:relative;overflow:hidden;width:100%;border:0;height:40px;line-height:40px;color:#7f8c8d}
.droplabeldo:before,.droplabeldo:after{content:&#39;&#39;;position:absolute;z-index:2;top:15px;right:12px;width:0;height:0;line-height:40px;border:4px dashed;border-color:#999 transparent;pointer-events:none}
.droplabeldo:before{border-bottom-style:solid;border-top:none}
.droplabeldo:after{margin-top:8px;border-top-style:solid;border-bottom:none}
.dropdown-select{color:#000;position:relative;width:100%;margin:0;padding:6px 8px 6px 10px;height:40px;line-height:20px;font-size:13px;border:1px solid rgba(0,0,0,0.1);-webkit-appearance:none;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.droplabeldo select:hover{border-color:rgba(0,0,0,.34);}
.droplabeldo select:focus{outline:none;cursor:pointer;border-color:#66afe9;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);}
.dropdown-select&gt;option{background:#fafafa;position:relative;display:block;margin:3px;text-shadow:none;outline:0;border:0;cursor:pointer}
/* Footer Wrapper */
#footer-wrapper{background:#282B2F;color:#c5cad0;text-align:center;padding:20px 0 0 0;margin:auto;border-top:5px solid #363b40}
.belajarcppxmed a{display:inline-block;text-align:center;margin-top:10px;margin-right:5px;color:#fff;border-radius:100%;opacity:.9;}
.belajarcppxmed a i{font-family:Fontawesome;width:32px;height:32px;line-height:32px;display:block}
.belajarcppxmed a:hover{color:#fff;opacity:1;transform:rotate(360deg);}
.belajarcppxmed .facebook{background:#3b5998}
.belajarcppxmed .twitter{background:#00aced}
.belajarcppxmed .googleplus{background:#dd4b39}
.belajarcppxmed .rssfeed{background:#ee802f}
#footbawah{clear:both;background:#363b40;margin:auto;padding:10px 20px;color:#c5cad0;font-size:14px;display:block;overflow:hidden;position:relative}
#footbawah a{color:#fff}
.footbawahkiri{text-align:left;float:left;padding: 11px;}
.footbawahkanan{text-align:right;float:right;}
.footbawahkanan a{color:#2ecc71}
.footbawahkanan a:hover{color:#fff;}
.footer-column{position:relative;margin:0 auto;clear:both;font-size:14px;line-height:24px;overflow:hidden;text-align:left;border-bottom:1px solid rgba(0,0,0,0.1);}

.footer-column h2, .footer-column h3{
position:relative;
overflow:hidden;
margin:0 0 10px 0;
font-size:1rem;
padding:0 0 10px 0;
border-bottom:1px solid rgba(0,0,0,.1);
color:#fff
}

.footer-column h2:after, .footer-column h3:after{
content:&#39;&#39;;
display:inline-block;
position:absolute;
height:15px;
top:0;
margin:3px 0 12px 10px;
width:100%;
background:url(http://4.bp.blogspot.com/-R2WTW6O9E1o/VX7dqIGT1eI/AAAAAAAACc4/pyvQDMMLX3E/s1600/repeat-bg.png)repeat;opacity:.7;
}

.footer-menu{float:left;width:31%;margin:0 20px 0 0}
.footer-menu p.footer2{margin:5px auto}
.footer-menu ul{margin:0}
.footer-menu ul li{list-style-type:square;margin:0 0 0 15px}
.footer-menu ul li a{color:#bdc3c7}
.footer-menu ul li a:hover{color:#fff}

/* Custom Heading Widget */
.footer-column .footer-menu h3:before{
content:&#39;&#39;;
font-family:fontawesome;
font-weight:normal;
display:inline-block;
margin:0 5px 0 0;color:#95a5a6;
}

.footer-column .footer-menu:nth-child(1) h3:before{content:&#39;\f007&#39;;}
.footer-column .footer-menu:nth-child(2) h3:before{content:&#39;\f085&#39;;}
.footer-column .footer-menu:nth-child(3) h3:before{content:&#39;\f003&#39;;}
/* Subscribe Footer */
#subscribe-footer{overflow:hidden;margin:0 0 20px 0;width:33.4%}
#subscribe-footer p{margin:1em 0}
#subscribe-footer .emailfooter{margin:auto;text-align:center;}
#subscribe-footer .emailfooter form{margin:0;padding:0;float:left}
#subscribe-footer .emailfooter input{background:rgba(255,255,255,1);padding:9px 12px;color:#999;font-size:14px;margin-bottom:10px;border:1px solid rgba(0,0,0,0.14);transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
#subscribe-footer .emailfooter input:hover{border-color:rgba(0,0,0,.34);}
#subscribe-footer .emailfooter input:focus{color:#000;outline:none;border-color:#66afe9;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);}
#subscribe-footer .emailfooter .submitfooter{background:#0d92e7;color:#fff;margin:0 0 0 5px;font-size:14px;cursor:pointer;border:1px solid rgba(0,0,0,0.05);border-radius:3px;transition:all .3s}
#subscribe-footer .emailfooter .submitfooter:active,#subscribe-footer .emailfooter .submitfooter:hover{background:#156faa;color:#fff;outline:none;box-shadow:none}
/* Popular Post */
#PopularPosts1 ul,.PopularPosts li,.PopularPosts li img,.PopularPosts li a,.PopularPosts li a img{color:#363b40;margin:0;padding:0;list-style:none;border:none}
#PopularPosts1 ul{margin:0;list-style:none;}
#PopularPosts1 ul li{margin:0;padding:10px 0;position:relative;transition:all .3s linear;}
#PopularPosts1 ul li:hover {background:rgba(255,255,255,.8);}
#PopularPosts1 ul li:last-child{border:0}
#PopularPosts1 ul li img{display:block;width:100%;height:auto}
#PopularPosts1 ul li .item-title a,.PopularPosts ul li a{font-size:13px;font-weight:700;line-height:1.6;}
#PopularPosts1 ul li .item-title a:hover,.PopularPosts ul li a:hover{color:#138be6}
#PopularPosts1 .item-thumbnail{margin:0 10px 0 0;overflow:hidden;z-index:2;display:block;position:relative;border-radius:0;width:72px;height:72px;float:left}
#PopularPosts1 .item-title{padding:0 5px}
#PopularPosts1 ul li:nth-child(1){border-top:none}
#PopularPosts1 ul li .item-snippet{color:#999;font-size:13px}
/* Social Media */
#socialcounter{overflow:hidden;margin:0 0 20px 0}
#socialcounter ul{margin:0}
#socialcounter ul a{color:#fff}
#socialcounter ul li.social_item-wrapper{float:left;width:48%;text-align:center;margin:0 4% 10px 0;color:#fff}
#socialcounter ul li a.social_item{position:relative;display:block;opacity:.9;height:50px;line-height:50px;overflow:hidden}
#socialcounter ul li.social_item-wrapper:nth-child(2n+2){margin:0}
.social_icon{float:left;line-height:50px;width:41px;font-size:1.3rem}
#socialcounter ul li a.social_item.social_facebook{background:#3F5B9B}
.fa-facebook.social_icon{background:#2E4372}
#socialcounter ul li.social_item-wrapper:hover .fa-facebook.social_icon{background:#3F5B9B}
#socialcounter ul li.social_item-wrapper:hover .social_facebook{background:#2E4372}
#socialcounter ul li a.social_item.social_twitter{background:#1C97DE}
.fa-twitter.social_icon{background:#1571A5}
#socialcounter ul li.social_item-wrapper:hover .fa-twitter.social_icon{background:#1C97DE}
#socialcounter ul li.social_item-wrapper:hover .social_twitter{background:#1571A5}
#socialcounter ul li a.social_item.social_youtube{background:#E22020}
.fa-youtube.social_icon{background:#B31919}
#socialcounter ul li.social_item-wrapper:hover .fa-youtube.social_icon{background:#E22020}
#socialcounter ul li.social_item-wrapper:hover .social_youtube{background:#B31919}
#socialcounter ul li a.social_item.social_rss{background:#E86321}
.fa-rss.social_icon{background:#C2521B}
#socialcounter ul li.social_item-wrapper:hover .fa-rss.social_icon{background:#E86321}
#socialcounter ul li.social_item-wrapper:hover .social_rss{background:#C2521B}
#socialcounter ul li a.social_item.social_google-plus{background:#E82C2C}
.fa-google-plus.social_icon{background:#BF2424}
#socialcounter ul li.social_item-wrapper:hover .fa-google-plus.social_icon{background:#E82C2C}
#socialcounter ul li.social_item-wrapper:hover .social_google-plus{background:#BF2424}
#socialcounter ul li a.social_item.social_instagram{background:#8E714D}
.fa-instagram.social_icon{background:#6F583C}
#socialcounter ul li.social_item-wrapper:hover .fa-instagram.social_icon{background:#8E714D}
#socialcounter ul li.social_item-wrapper:hover .social_instagram{background:#6F583C}
#socialcounter ul li a.social_item.social_pinterest{background:#CA2027}
.fa-pinterest.social_icon{background:#AB1B21}
#socialcounter ul li.social_item-wrapper:hover .fa-pinterest.social_icon{background:#CA2027}
#socialcounter ul li.social_item-wrapper:hover social_pinterest{background:#AB1B21}
/* Banner */
.kotak_iklan1 {position:relative;}
.kotak_iklan1:before{content:&#39;300x250 Ad&#39;;position:absolute;background:rgba(25,25,25,.9);color:#fff;top:0;right:0;padding:2px 8px;font-size:80%}
.kotak_iklan1:hover:before{content:&#39;Pasang iklan&#39;;}
.banner,.banner2{margin:0 auto;text-align:center;overflow:hidden}
.banner .widget,.banner2 .widget{width:100%;max-width:100%;margin:0 auto;background:#fff;text-align:center;overflow:hidden;padding:20px}
.banner .widget{border-bottom:1px solid rgba(0,0,0,0.1);}
.banner2 .widget{border-top:1px solid rgba(0,0,0,0.1);}
.banner img,.banner iframe,.banner2 img,.banner2 iframe{display:block;margin:0 auto;text-align:center;height:auto;}
.kotak_iklan{text-align:center;margin:0 auto;transition:all 1s ease-out}
.kotak_iklan .sidebar .widget-content,.kotak_iklan .sidebar-atas .widget-content{padding:0;border:0}
.kotak_iklan .sidebar .widget{margin-bottom:0;padding:0}
.kotak_iklan img{background:#fff;text-align:center;margin:0 auto;padding:4px;border:1px solid transparent!important;transition:all .6s ease-out}
.kotak_iklan img:hover{background:#fdfdfd;border:1px solid #e6e6e6}
.kotak_iklan2,.kotak_iklan3{text-align:center;margin:0 auto;transition:all 1s ease-out}
.kotak_iklan2 .sidebar .widget-content,.kotak_iklan2 .sidebar-atas .widget-content{padding:0;background:#f2f6f7;box-shadow:0 1px 2px 0 rgba(0,0,0,.1);border:0}
.kotak_iklan2 .sidebar .widget,.kotak_iklan2 .sidebar-atas .widget{margin-bottom:0;padding:0}
.kotak_iklan2 img{text-align:center;transition:all 1s ease-out}
.kotak_iklan2 img:hover{transition:all .5s ease-out}
#HTML2 .widget-content,#HTML3 .widget-content,#HTML4 .widget-content,#HTML5 .widget-content{padding:0;}
/* To top */
.belajarcppxtotop{visibility:hidden;z-index:2;background:#95a5a6;color:#fff;font-size:20px;width:37px;height:37px;line-height:37px;text-align:center;position:fixed;bottom:10px;right:10px;border-radius:2px;cursor:pointer;transition:all .4s}
.belajarcppxtotop:hover{background:#7f8c8d;color:#fff;}
.belajarcppxtotop.arlniainf{visibility:visible;cursor:pointer;opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0);transition:all .4s;}
/* Global Responsive */
@media screen and (max-width:800px) {
#wrapper{overflow:initial}
#content-wrapper{background:#fff;margin:0 auto;}
#footer-wrapper{border:0}
#header{padding:0;height:auto;line-height:normal;text-align:center;border:0;position:relative;z-index:initial;-webkit-transform:initial;transform:initial}
#header p.description{display:block;color:#fff}
#headerdua {float:none;max-width:100%;padding:20px;margin:0;}
#header .title{margin:0 0 5px 0;font-weight:700;}
#main-wrapper {float:none;border:0;width:100%;}
#sidebar-wrapper {padding: 0 20px;width:100%;float:none;}
.belajarcppx-menu,.search-boxs{width:100%;margin:0 auto;padding:10px;}
.search-boxs:hover,.search-boxs:active,.search-boxs:focus{width:100%;}
#search-boxs{padding:0 0 10px 0}
#search-boxs{width:96%;float:left;padding-right:0;margin:0 2%}
.search-boxs{height:auto;display:block;}
#searchform{margin:0 10px}
#menu {display:block;}
#belajarcppx-two{background:#fff;color:#138be6;font-size:initial;position:relative;display:block;padding:15px;text-transform:uppercase;box-shadow:none;float:none;text-align:left;border-bottom:1px solid rgba(0,0,0,0.14)}
#belajarcppx-two ul{background:#fff;position:absolute;top:100%;left:0;z-index:3;height:auto;float:none;display:none}
#belajarcppx-two ul &gt; li{float:none}
#belajarcppx-two ul.menus{width:100%;position:static;padding-left:20px}
#belajarcppx-two li{display:block;float:none;width:auto}
#belajarcppx-two li a:hover,#belajarcppx-two ul.menus a:hover{background:#24376a;color:#fff;}
#belajarcppx-two a{background:#363b40;padding:12px;height:initial;line-height:initial;color:#fff;border:0;margin:0}
#belajarcppx-two ul &gt; li a i{color:rgba(255,255,255,.5);float:right}
#belajarcppx-two input,#belajarcppx-two label{position:absolute;top:0;left:0;display:block}
#belajarcppx-two input{z-index:4}
#belajarcppx-two input:checked + label{color:#fff}
#belajarcppx-two input:checked ~ ul{display:block;width:100%}
#belajarcppx-two li:hover &gt; ul{width:100%}
#belajarcppx-two li li {border:0;}
#belajarcppx-two li li &gt; a{background:#24376a;color:#fff;height:auto;font-size:12px;line-height:30px;padding:0 10px;}
#belajarcppx-two li li:hover, #belajarcppx-two li li a:hover {background:#363b40;color:#fff;}
#belajarcppx-two li ul {background:#363b40;padding:0;position:relative;width:100%;left:initial;box-shadow:none;}
#belajarcppx-two li:hover ul.menus,#belajarcppx-two li:hover &gt; ul{left:initial}
#belajarcppx-two a i {float:right;}
#search-me{display:none}}
@media only screen and (max-width:768px) {
#headerdua {float:none;max-width:100%;}
#sidebar-wrapper,#main-wrapper {width:100%;padding:0 20px 20px 20px;}
.sidebar {padding:0;}
.sosial-atas li a{color:#fff}
.sosial-atas li a:hover,.sosial-atas li:hover a{background:rgba(0,0,0,0.1);color:#fff}
.page-menu ul li a:hover,.page-menu ul li:hover a{background:transparent}
.footer-menu,#subscribe-footer{float:none;width:auto;margin:0 20px 20px 20px}}
@media screen and (max-width:640px) {
#main-wrapper {width:100%;padding:0 10px 20px 10px;}
#sidebar-wrapper {width:100%;padding:0 20px 20px 20px;}
.status-msg-border {width:97%}
.post h2 {font-size:100%}
h1.post-title.entry-title,h2.post-title.entry-title{font-size:16px;margin:0}
#belajarcppx-two ul{height:195px;overflow:auto;}
#footer-wrapper{margin:auto;border-top:1px solid rgba(0,0,0,0.1)}
#footer-wrapper .footbawahkiri,#footer-wrapper .footbawahkanan{float:none;text-align:center}
.belajarcppxtotop{width:32px;height:32px;line-height:32px}
#footbawah{padding:0 10px 20px 10px;line-height:normal;background:transparent}
.search-boxs{background:#fff;display:block;border-bottom:1px solid rgba(0,0,0,0.14);}
#search-forms,#searchform,.search-button{line-height:34px}
#search-forms{height:34px;line-height:34px}}
@media screen and (max-width:480px) {
body{background:#fff}
.comments .comments-content .user{line-height:2.8em}
.post h2{font-size:100%}
.post h1{font-size:120%}
body,.body-fauxcolumn-outer{font-size:80%}
#header{border:0}
#header p.description{line-height:normal}
#main-wrapper{padding:0}
#sidebar-wrapper{padding:0 10px}
.post-body{padding:10px}
.breadcrumbs{padding:18px 7px}
.widget-content{box-shadow:none;border:0}
#belajarcppxnewsletter{margin:0 0 20px 0}
.sidebar .widget,.sidebartop .widget {margin:0;}
#Label1 .widget-content {padding:20px 10px;}
.banner .widget,.banner2 .widget{padding:10px}
#subscribe-footer .emailfooter input{width:100%}
#subscribe-footer .emailfooter .submitfooter{margin:0}
#subscribe-footer .emailfooter form{margin:auto;float:none}}
@media screen and (max-width:320px) {
body{background:#fff}
#sidebar-wrapper{padding:0 10px}
.widget-content{padding:12px 0}
#HTML2 .widget-content,#HTML3 .widget-content,#HTML4 .widget-content,#HTML5 .widget-content {padding:0}
#Label1 .widget-content {padding:20px 0;}}
@media screen and (max-width:240px) {
body,.body-fauxcolumn-outer {font-size:80%}
.belajarcppx-menu ul li{width:50%}
#socialcounter ul li.social_item-wrapper{float:none;width:100%}
#socialcounter ul li.social_item-wrapper:nth-child(2n+2){margin:0 4% 10px 0}
#PopularPosts1 .item-thumbnail,.recent_posts .wrapinfo,.post-thumb{width:62px!important;height:52px!important}
h2.post-title.entry-title,#PopularPosts1 ul li .item-title a,.PopularPosts ul li a,ul.recent_posts li a{font-size:12px!important}
.recent_posts br{display:none}}
.status-msg-body {padding:10px 0;display:none}
.status-msg-wrap{display:none;font-size:14px;margin-left:1px;width:100%;color:#666}
.status-msg-wrap a{color:orange!important}
.status-msg-bg{display:none;background:#ccc;position:relative;width:99%;padding:6px;z-index:1;border:2px #999 solid}
.status-msg-border{display:none;border:0;position:relative;width:99%}
</style>
<b:if cond='data:blog.pageType != &quot;item&quot;'>
<b:if cond='data:blog.pageType != &quot;static_page&quot;'>
<style type='text/css'>
.post{padding:20px;margin:0;border-bottom:1px solid rgba(0,0,0,0.14);transition:all .3s}
.post-body{padding:0;}
h1.post-title.entry-title a:hover, h2.post-title.entry-title a:hover {color:#138be6;}
h1.post-title.entry-title,h2.post-title.entry-title{margin:0 12px 15px 0}
.post-thumb{position:relative;background:#f1f1f1;overflow:hidden;float:left;min-width:200px;height:auto;min-height:150px;margin:0 20px 0 0;transition:all .3s}
.post-thumbnail{background:#f1f1f1;width:100%;height:auto;}
.post-thumb img{background:#f1f1f1;}
.post-thumb .comment-info{position:absolute;top:0;left:0;z-index:5;color:#fff;padding:0}
.post-thumb .comment-info a{display:inline-block;background:red;color:#fff;padding:10px}
.snippets{font-size:96%;line-height:1.5;margin:0 0 8px 0}
.post-timestamp,.author-info,.comment-info{padding:0;margin:0 5px 0 0;}
.post-timestamp a abbr.published.updated{border:0;cursor:pointer}
.post-info{color:#999;padding:0;overflow:hidden;border:0;margin:0 0 15px;font-size:13px;}
.post-info a{color:#999;margin:0 5px 0 0}
.post-info a:hover{color:#138be6;}
.author-info img.avatar-photo1{height:22px;width:22px;border-radius:100%;margin:0 3px 0 0}
.label-info{position:absolute;left:0;top:0;z-index:2;opacity:0;visibility:hidden;transition:all .3s}
.post-thumb:hover .label-info{opacity:1;visibility:visible;}
.label-info a{display:inline-block;background:#95a5a6;color:rgba(255,255,255,.95);font-size:12px;padding:6px}
.label-info a:hover{background:#7f8c8d;color:rgba(255,255,255,1);}

/* CSS Homepage Share */
.twitfbshare{clear:both;float:left;list-style:none outside none;position:absolute;z-index:10;margin:0;padding:0;top:0;left:0;line-height:normal;overflow:hidden;}
.twitfbshare li{text-align:left;float:left;margin-bottom:0;margin-top:-30px;opacity:0;padding:0;transition:all 0.3s;}
.post:hover .twitfbshare li{opacity:1;margin-top:0;}
.twitfbshare li a{background-clip:padding-box;background-repeat:no-repeat;display:block;overflow:hidden;text-align:center;text-transform:uppercase;white-space:nowrap;width:30px;height:30px;line-height:30px;position:relative;margin:0;padding:0;font-size:14px;font-weight:normal;background-color:#fff;color:#999;transition:all 0.3s;}
.twitfbshare li a:hover{color:#fff;}
.twitfbshare li a.f-like:hover {background-color:#3c5b9b;}
.twitfbshare li a.t-share:hover {background-color:#19bfe5;}
.twitfbshare li a.gplus-share:hover {background-color:#d44132;}

/* Page Navigation */
#blog-pager{background:#fff;clear:both;width:auto;padding:20px;line-height:normal;position:relative;display:block;text-align:left;overflow:visible;margin:0;}
.showpage a,.showpageNum a,.showpagePoint{position:relative;background:#363b40;display:inline-block;font-size:13px;color:#fff;margin:0 4px 0 0;padding:5px 10px;line-height:1.42857143;text-decoration:none;border-radius:3px;transition:all .3s}
.showpageOf{float:right;color:#bdc3c7;display:inline-block;font-size:13px;margin:0;padding:6px 0;line-height:1.42857143}
.showpageNum:last-child a{}
.showpageNum a:before{content:&#39;&#39;;position:absolute;top:0;bottom:0;left:0;right:0;box-shadow:inset 0 -2px 2px rgba(0,0,0,0.02);transition:box-shadow 0.5s}
.showpage a:hover,.showpageNum a:hover{background:#0d92e7;color:#fff;position:relative;}
.showpagePoint{background:#000}
.showpagePoint,.showpagePoint:hover{background:#000;color:#fff}
span.label-info a.label-block:nth-child(n+2) {display:none;}
@media screen and (max-width:768px) {
.post,#blog-pager{padding:20px 0}
h1.post-title.entry-title a, h2.post-title.entry-title a {margin:15px 0;}}
@media screen and (max-width:640px) {
.post{margin:0 0 10px 0;padding:10px}
.post-thumb{width:150px;margin:0 10px 0 0;min-width:auto;min-height:auto;max-height:200px}
.post-thumbnail {width:100%;height:auto;}
h1.post-title.entry-title,h2.post-title.entry-title{margin:0 12px 15px 0}
h1.post-title.entry-title a, h2.post-title.entry-title a {margin:0 0 10px 0;}
.post-info{margin:0 0 10px}
#blog-pager {padding:12px 12px 22px 12px;}
.snippets{font-size:96%;color:#999}
.label-info a{font-size:12px}
.twitfbshare{top:0;left:0;}}
@media screen and (max-width:480px) {
.post{margin:0}
.post-thumb{max-height:180px;width:120px;}
h1.post-title.entry-title, h2.post-title.entry-title {margin:0 0 5px 0;}
.snippets,.label-info,.comment-info,.showpageOf{display:none}}
@media screen and (max-width:320px) {
h1.post-title.entry-title,h2.post-title.entry-title{font-size:14px}
.post-info{font-size:11px;color:#bbb;}
.post-info a{color:#bbb;}
.post-thumb{width:90px;}
.showpage a,.showpageNum a,.showpagePoint{padding:5px 8px}}
@media screen and (max-width:240px) {
.post-info{display:none}}
